* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(78, 77, 107, 1) 0%,
    rgba(112, 111, 139, 1) 0%,
    rgba(121, 120, 147, 1) 0%,
    rgba(108, 107, 135, 1) 0%,
    rgba(142, 142, 167, 1) 0%,
    rgba(127, 128, 149, 1) 0%,
    rgba(118, 119, 138, 1) 0%,
    rgba(225, 227, 247, 1) 0%,
    rgba(105, 107, 123, 1) 0%,
    rgba(199, 202, 219, 1) 0%,
    rgba(165, 169, 182, 1) 0%,
    rgba(148, 152, 163, 1) 0%,
    rgba(96, 62, 129, 1) 0%,
    rgba(30, 4, 41, 1) 0%,
    rgba(8, 15, 9, 1) 100%
  );
}
#root {
  width: 1440px;
  margin: 100px auto;
  display: flex;
}
.cross {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 13px -8px 23px 15px rgba(206, 20, 20, 0.35);
  margin-bottom: 20px;
}
.cross:hover {
  box-shadow: 18px -20px 22px 18px rgba(212, 181, 20, 0.35);
  transition: all 0.3s ease-in;
}
.card {
  text-align: center;
  width: 250px;
  padding: 10px;
}
.img {
  border-radius: 8px;
}

.kattakard {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

@media only screen and (max-width: 425px) {
  .kattakard {
    flex-direction: column;
  }
  #root {
    width: 300px;
  }
}
